/* styles/AirtableForm.module.css */

.airtableEmbed {
  width: 100%;
  height: 533px;
  border: 1px solid #ccc;
  background-color: transparent;
  margin: 20px 0; /* Add some margin on top and bottom for better spacing */
}
