.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #ffffff;
}

.logo {
  max-width: 200px; /* Or any other value that suits your needs */
  width: 100%;
}

