.header {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 5%;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  margin-top: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mainContent {
  flex-grow: 1;
}
