.container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Vertically center the image and text */
  justify-content: space-between;
  padding: 1em;
  gap: 2em; 
}

.profile {
  flex: 1 0 40%; /* this will occupy 40% of the container width */
  max-width: 40%; /* limiting the image width */
  height: auto;
}

.infoText {
  flex: 1 0 55%; /* this will occupy 55% of the container width */
  text-align: left;
  padding: 1em;
}
